# Maven
*target/

# IntelliJ
.idea/
*.iml

# Eclipse
.settings/
.project
.classpath

# NodeJS
*typings
*node_modules
*app/js/*
*npm-debug.log*

# sass/scss
*sass-cache

# local proxy settings
.typingsrc

# docker files
docker-dir
