/* Colors */

// base colors

$default-text-color:          #595C5C;
$brand-first-color:           #785889;
$brand-second-color:          #7e6954;

$brand-first-light-color:     lighten($brand-first-color, 20%);
$brand-second-light-color:    lighten($brand-second-color, 20%);

$brand-first-lightest-color:     lighten($brand-first-color, 50%);
$brand-second-lightest-color:    lighten($brand-second-color, 50%);

$brand-first-dark-color:     darken($brand-first-color, 30%);
$brand-second-dark-color:    darken($brand-second-color, 30%);
