/* Colors */

// base colors

$default-text-color:          #595C5C;
$brand-first-color:           #263e89;
$brand-second-color:          #7e3a3a;

// Lighter brand colors
$brand-first-light-color:     lighten($brand-first-color, 20%);
$brand-second-light-color:    lighten($brand-second-color, 20%);

// Darker brand colors
$brand-first-dark-color:     darken($brand-first-color, 30%);
$brand-second-dark-color:    darken($brand-second-color, 30%);

