<h1>Nieuwe show opvoeren</h1>
<div id="newshow" class="panel panel-primary appform" style="padding-left: 0; padding-right: 0">
    <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">Nieuwe show opvoeren</h3>-->
    <!--</div>-->
    <div class="panel-body">
        <form [formGroup]="newShowEventForm" (ngSubmit)="onSubmit(newShowEventForm.value)" class="form">
        <div class="form-group">
            <label for="name" class="control-label">Naam show</label>
            <div class="">
                <input type="text" class="form-control" id="name" placeholder="Voer de naam van de show op" formControlName="name"  [(ngModel)]="name">
                <div *ngIf="newShowEventForm.controls['name'].hasError('required') && newShowEventForm.controls['name'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Naam show is verplicht veld
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="location" class="control-label">Locatie show</label>
            <div class="">
                <input type="text" class="form-control" id="location" placeholder="Voer de locatie van de show op" formControlName="location"  [(ngModel)]="location">
                    <div *ngIf="newShowEventForm.controls['location'].hasError('required') && newShowEventForm.controls['location'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Locatie is verplicht
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="control-label">Datum show</label>
            <div class="">
                <input type="date" class="form-control" id="date" placeholder="Voer de datum van de show op" formControlName="date"  [(ngModel)]="date">
                <div *ngIf="newShowEventForm.controls['date'].hasError('required') && newShowEventForm.controls['date'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Datum show is verplicht
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="closedate" class="control-label">Sluitingsdatum</label>
            <div class="">
                <input type="date" class="form-control" id="closedate" placeholder="Voer de datum van de show op" formControlName="closedate"  [(ngModel)]="closedate">
                <div *ngIf="newShowEventForm.controls['closedate'].hasError('required') && newShowEventForm.controls['closedate'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Sluitingsdatum is verplicht
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="judge" class="control-label">Jurylid</label>
            <div class="">
                <input type="text" class="form-control" id="judge" placeholder="Voer het jurylid op" formControlName="judge"  [(ngModel)]="judge">
                <div *ngIf="newShowEventForm.controls['judge'].hasError('required') && newShowEventForm.controls['judge'].touched" class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Jurylid is verplicht
                </div>
            </div>
        </div>
        <!-- Show types -->
        <div class="form-group">
            <label class="control-label">Show typen</label>
            <div class="">
                    <div class="checkbox" *ngFor="let showtype of showtypes">
                        <label class="">
                            <input type="checkbox" [(ngModel)]="showtype.value" formControlName="{{showtype.name}}"> {{ showtype.label }}
                        </label>
                    </div>
            </div>
        </div>
        <!-- Submit -->
            <div class="form-group">
            <div class="">
                <button [disabled]="!newShowEventForm.valid" type="submit" class="btn btn-success">Opslaan</button>
            </div>
        </div>
        </form>
    </div>
</div>
