/* Colors */
/* Fonts */
/* line 16, ../scss/base/_typography.scss */
body {
  font-family: Verdana, Geneva, sans-serif;
  color: #595C5C;
}

/* line 21, ../scss/base/_typography.scss */
h1, h2, h3 {
  font-family: Arial;
}

/* line 25, ../scss/base/_typography.scss */
h1 {
  font-size: 43px;
  color: #263e89;
}

/* line 30, ../scss/base/_typography.scss */
h2 {
  font-size: 28px;
  color: #7e3a3a;
}

/* line 35, ../scss/base/_typography.scss */
h3 {
  font-size: 18px;
  color: darken #263e89, 30%;
}
